<!-- The variable being passed from the route is called "logged_in" instead of "loggedIn". -->
<!-- This was actually one of the bugs I encoutered in my challenge -->
<!-- Also, the #if logged_in is redundant in this scenario because there is already a check in the route (withAuth) that will redirect the user if they are not logged in -->
<!-- No worries about this though, I hadn't created the route yet anyways because I was a silly goose -H -->


<!-- This form needed a class so we can attach a FormHandler -->
<form class="create-form m-5 text-center">
    <div class="form-group m-5 text-center">
        <h2 for="recipeName">Recipe Name:</h2><br>
        <input type="name" class="form-control-lg text-center w-75 border-primary bg-light" id="inputRecipeName"
            placeholder="Enter Your Recipe's Name">
    </div><br>
    <div class="row m-5 mt-3">
        <div class="controls col-4" id="profs"> 
            <div id="field">
            <h2>Ingredients:</h2>
            <input autocomplete="off" class="ingredient input form-control border-primary bg-light" id="field1" name="prof1" type="text" placeholder="INGREDIENT" data-items="8"/>
            <button id="b1" class="btn add-more btn-dark m-1" type="submit">+</button>
            </div>
        </div>
        <div class="form-group col-8">
            <h2 for="instructionsText">Instructions:</h2>
            <textarea class="form-control form-control-lg text-center border-primary bg-light" id="inputInstructionsTextArea" rows="5"></textarea>
        </div><br>
    </div>
    <button type="submit" class="btn btn-outline-success m-5">Submit</button>
</form>

<script src="/js/createRecipe.js"></script>
<script src="/js/createingredientbtn.js"></script>

