{{#if loggedIn}}
<form>
    <div class="form-group">
        <label for="recipeName">Recipe Name</label><br>
        <input type="name" class="form-control form-control-lg" id="inputRecipeName"
            placeholder="Enter Your Recipe's Name">
    </div>
    <div class="form-group">
        <label for="ingredientsText">Ingredients</label><br>
        <textarea class="form-control form-control-lg" id="inputIngredients" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="instructionsText">Instructions</label><br>
        <textarea class="form-control form-control-lg" id="inputInstructionsTextArea" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/createRecipe.js"></script>
{{/if}}