<!-- The variable being passed from the route is called "logged_in" instead of "loggedIn". -->
<!-- This was actually one of the bugs I encoutered in my challenge -->
<!-- Also, the #if logged_in is redundant in this scenario because there is already a check in the route (withAuth) that will redirect the user if they are not logged in -->
<!-- No worries about this though, I hadn't created the route yet anyways because I was a silly goose -H -->


<!-- This form needs a class so we can attach a FormHandler -->
<form>
    <div class="form-group">
        <label for="recipeName">Recipe Name</label><br>
        <input type="name" class="form-control form-control-lg" id="inputRecipeName"
            placeholder="Enter Your Recipe's Name">
    </div>
    <div class="form-group">
        <label for="ingredientsText">Ingredients</label><br>
        <textarea class="form-control form-control-lg" id="inputIngredients" rows="5"></textarea>
    </div>
    <div class="form-group">
        <label for="instructionsText">Instructions</label><br>
        <textarea class="form-control form-control-lg" id="inputInstructionsTextArea" rows="5"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/createRecipe.js"></script>
