<!-- Because the <body> tags are already being rendered by main.handlebars, we don't need to use them in any of the other handlebars. -->
  <!-- Add/Remove ingredients form --> 
  <form class="input-append" id="input-ingredients">
  <div class="container">
    <div class="row">

        <input type="hidden" name="count" value="1" />
        <div class="control-group col-4" id="fields">
          <br>
          <h2 class="control-label text-center" for="field1">What's in your fridge?</h2>
          <div class="controls" id="profs"> 
              <div id="field">
                <input autocomplete="off" class="ingredient input form-control" id="field1" name="prof1" type="text" placeholder="INGREDIENT" data-items="8"/>
                <button id="b1" class="btn add-more btn-dark" type="button">+</button>
              </div>
          </div>
          <div>
            <button class="btn btn-outline-dark" type="submit">Submit</button>
          </div>
        </div>
</form>

      <!--  Search Results for Add/Remove ingredients form -->
      <div class="container  col-8  mb-3">
        <h4 class="text-center mt-3">Recipe Results:</h4>
        <div>
              
          <div class="list-group text-center p-2">

            {{#each recipes as | recipe |}} 
              <a href="/recipe/{{id}}" class="list-group-item list-group-item-success">{{recipeName}}</a>
            {{/each}} 

          </div>

        </div>

      </div>
      
      
    </div>
  </div>
<script src="/js/ingredientbuttons.js"></script>
<!-- NOTE: the findrecipe.js script is one of the scripts we need to fix, alongside in homeRoutes. -->
<script src="/js/findrecipe.js"></script>
