<div class="row">
  <div class="col-md-6">
    <h2>Sign Up</h2>

    <form class="login-form">
      <div class="form-group">
        <label for="inputEmail">Email address</label>
        <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp"
          placeholder="Enter Your Email">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email
          with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="password-login" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-primary btn-sig-log">Submit</button>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>