<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg bg-black navyHome">
        <div class="container-fluid">
            <nav class="navbar">
                <div class="container-fluid">
                    <a class="navbar-brand" href="#">
                        <img src="../assets/images/ReciBEET2.png" alt="Logo" width="150" height="150"
                            class="d-inline-block align-text-top">
                    </a>
                    <h1>ReciBEET</h1>
                </div>
            </nav>

            <div class="navbar nav">
                <a class="nav-link button" href="/">Home</a>
                <a class="nav-link" href="/findrecipe">Find Recipe</a>
                <a class="nav-link" href="/create">Create Recipe</a>
                <a class="nav-link" href="/">Logout</a>
            </div>

        </div>
    </nav>


    <div class="row">
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title text-center mt-3">Saved Recipes</h5>
                <div class="row">

                    <div class="list-group text-center p-5">
                        
                        {{#each savedrecipes as | recipe |}} 
                        <a href="/recipe/{{recipe.recipeId}}" class="list-group-item list-group-item-success">{{recipe.recipeName}}</a>
                        {{/each}}
                        
                    </div>
                    
                </div>

                <div class="text-center">
                    <a href="/findrecipe" class="btn btn-outline-dark profile-button">Find a Recipe</a>
                </div>


            </div>
          </div>
        </div>

        
        <div class="col-sm-6">
            <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title text-center mt-3">Your Created Recipes</h5>
                <div class="row">

                <div class="list-group text-center p-5">
                        
                    {{#each createdrecipes as | recipe |}} 
                    <a href="/recipe/{{recipe.recipeId}}" class="list-group-item list-group-item-success">{{recipe.recipeName}}</a>
                    {{/each}}
                    
                </div>
                    
                </div>

                <div class="text-center">
                <a href="/create" class="btn btn-outline-dark profile-button">Create a Recipe</a>
                </div> 

            </div>  
            </div>
        </div>
        
    </div>

</body>
