    <div class="row">
        <div class="col-sm-6">
          <div class="card border-0">
            <div class="card-body">
              <h5 class="card-title text-center mt-3">Saved Recipes</h5>
                <div class="row">

                    <div class="list-group text-center p-5">
                        
                        {{#each savedrecipes as | recipe |}} 
                        <a href="/recipe/{{recipe.recipeId}}" class="list-group-item list-group-item-success">{{recipe.recipeName}}</a>
                        {{/each}}
                        
                    </div>
                    
                </div>

                <div class="text-center">
                    <a href="/findrecipe" class="btn btn-outline-dark profile-button">Find a Recipe</a>
                </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
            <div class="card border-0">
            <div class="card-body">
                <h5 class="card-title text-center mt-3">Your Created Recipes</h5>
                <div class="row">

                <div class="list-group text-center p-5">
                        
                    {{#each createdrecipes as | recipe |}} 
                    <a href="/recipe/{{recipe.id}}" class="list-group-item list-group-item-success">{{recipe.recipeName}}</a>
                    {{/each}}
                    
                </div>
                    
                </div>

                <div class="text-center">
                <a href="/createRecipe" class="btn btn-outline-dark profile-button">Create a Recipe</a>
                </div> 

            </div>  
            </div>
        </div>
        
    </div>
