    <div>
        <div class="card text-center m-5 border-0">
            <div class="card-body">
                <h5 class="card-title" id="recipe-name">{{recipeName}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <h5 class="p-2 headers">Ingredients:</h5>

                <ol class="list-group-item">

                    {{#each ingredients as | ingredient |}}
                    <p>{{ingredient}}</p>
                    {{/each}}
                </ol>
                <h5 class="mt-4 headers">Instructions:</h5>
                <p class="list-group-item mb-3">{{instructions}}</p>
            </ul>
            <div class="card-body p-3">
                <a href="/recipe/{{id}}/edit" class="btn btn-outline-secondary profile-button m-2">Update this Recipe</a><br>
                <a href="/findrecipe" class="btn btn-outline-primary profile-button m-2">Find a Recipe</a><br>
                <a href="/createRecipe" class="btn btn-outline-danger profile-button m-2">Create a Recipe</a><br>
                
            </div>
        </div>
    </div>    


<!-- Because the footer is already being loaded on main.handlebars, we don't need to include it here.->
