/* HEX Codes
#d01e5f 
#990f3e
#358033
#2e3192 */

* {
  border-radius: 0
}

h1 {
  font-family: 'Tilt Warp';
  color: white;
}

h2 {
  font-family: 'Mynerve';
}

h5 {
  font-family: 'Tilt Warp';
}


#field {
  margin-bottom: 20px;
}

.control-label {
  color: #358033;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
}

.card-title{
  font-family: 'Mynerve';
  font-size: xx-large;
}

.headers {
  color: #358033;
}

footer {
  color: white;

}

/* added by Manny */
marquee {
  background-color: #358033;
  color: white;
  font-size: 15pt;
}

.navyHome {
  background-image: url('../../assets/images/ReciBEETopa20.png');
  background-size: contain;
}

.btn-sig-log {
  margin: 20px;
}

label {
  margin: 10px;
  float: left;
}