/* HEX Codes
#d01e5f 
#990f3e
#358033
#2e3192 */

* {
  border-radius: 0
}

h1 {
  font-family: 'Tilt Warp';
  color: white;
}

h2 {
  font-family: 'Mynerve';
}


#field {
    margin-bottom:20px;
}

.control-label {
  color: #358033;
}

.card-deck {
  display: flex;
  flex-wrap: wrap;
}

footer {
  color: white;

}